<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/stylesheets/popup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Suwannaphum&display=swap" rel="stylesheet">
    <title>Rx markup cvrt to JS</title>
</head>
<body>

    <div class="card">
        <div class="nav">
            <div class="left-nav">
              <img src="../images/logo-tp.png" alt="logo" class="logo">
              <div class="deals-link">deals</div>
            </div>
            <div class="right-nav">
              <div class="settings-icon">
                <i class="fa fa-cog"></i>
              </div>
              <div class="x-icon">
                <i class="fa fa-times"></i>
              </div>
            </div>
          </div>
    
        <div class="midsection"> 
         

            <div class="header">
                <div class="left-header">
                  <img src="../images/drug-temp-logo.png" alt="item" class="item-image">
                  <div class="item-info">
                    <div class="item-name">Albendazole (Albenza)</div>
                    <div class="company-name">CostPlusDrugs</div>
                  </div>
                </div> 
                <div class="right-header">
                  <div class="search-icon">
                    <i class="fa fa-search"></i>
                  </div>
                </div>
              </div>

              <div class="search-form">
                <form>
                  <input type="text" placeholder="Search...">
                  <button type="submit">Go</button>
                </form>
              </div>

              <div class="top-pick">
                <div class="left-side">
                  <img src="../images/medal.png" alt="medal" class="medal">
                  <div class="heading">Our Top Pick</div>
                  <div class="subtext">from 2 stores</div>
                </div> 
            </div>

            <div class="analytics-section">
                <div class="picture">
                  <img src="../images/chart.png" alt="chart" >
                </div>
                <div class="text">
                  <div class="save">Amount you save</div>
                  <div class="amount">$ 30.98</div>
                  <div class="subtext-store">with this store</div>
                </div>
              </div>
              

              <div class="left-header">
                <img src="../images/bookmark.png" alt="item" class="bookmark-image">
                <div>
                  <div class="save">Save this item</div>
                  <div class="alerts">Get live deal alerts for this item</div>
                </div>
              </div>

              <div class="save-section">
                <img src="../images/drug-temp-logo.png" alt="item" class="save-image">
                <div class="prescription-save-form">
                  <div class="prescription-company">CostPlusDrugs</div>
                  <div class="prescription-name">Albendazole (Albenza)</div>
                  <div class="dropdown-container">
                    <select class="dropdown">
                 
                    </select>
                    <select class="dropdown">
                      
                    </select>
                  </div>
                  
                </div>
              </div>
<button class="save-button">Save</button>
          </div>
          <div class="footer">
  Sourced by CheapRx
</div>
        </div>
</body>
</html> -->